{% extends "AcmeDemoBundle::base.html.twig" %}

{% block main %}

{% trans_default_domain 'AcmeDemoBundle' %}
{% trans_default_domain 'MremiContactBundle' %}

<form>
    <br/>
    <div class="cercle">
    <span style="vertical-align:middle;"><h2>{{ 'ourposition'|trans({}, 'AcmeDemoBundle') }}</h2></span>
    </div>
    <br/>
    <center>{{ google_map(map) }}</center>
    <br/>
</form>

{% endblock main %}