{% extends "AcmeDemoBundle::base.html.twig" %}

{% block main %}


{% trans_default_domain 'AcmeDemoBundle' %}
{% trans_default_domain 'MremiContactBundle' %}

<form>
    <h2>{{ 'about'|trans }} :</h2>
    <article>{{ 'aboutas'| trans }}</article>
    <br/>
    <address>{{ 'ourposition'|trans }}</address>
    <br/>
    <center>{{ google_map(map) }}</center>
    <br/>
</form>

{% endblock main %}