{% extends "AcmeDemoBundle::base.html.twig" %}

{% block main %}

{% trans_default_domain 'FOSUserBundle' %}
<form>
<p>
    {{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
</form>
{% endblock main %}