{% extends 'AcmeDemoBundle::base.html.twig' %}

{% block main %}
    <br/>
    <span class="red">{{ error }}</span>
    <br/>
    <br/>
    <a href="{{ path('inscription') }}">retour [inscription]</a>
{% endblock main %}